.idea/.idea.todo_mvc/.idea/workspace.xml
.idea/.idea.todo_mvc/.idea/projectSettingsUpdater.xml
.idea/.idea.todo_mvc/.idea/indexLayout.xml
.idea/.idea.todo_mvc/.idea/dataSources/data_sources_history.xml
.idea/.idea.todo_mvc/.idea/dataSources/23256bdd-f3fc-4182-8bb7-d5e8b4eee399/storage_v2/_src_/schema/main.uQUzAA.meta
.idea/.idea.todo_mvc/.idea/dataSources/23256bdd-f3fc-4182-8bb7-d5e8b4eee399.xml
.idea/.idea.todo_mvc/.idea/dataSources.xml
.idea/.idea.todo_mvc/.idea/dataSources.local.xml
